.first-half{
    flex:1;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(195, 193, 193);
}
.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.friend-toggle {
    display: flex;
    position: sticky;
    top: 10vh;
    flex-direction: column;
}
.friend-display{
    flex: 3;
}
.friend-title {
    font-size: 1.8em;
    padding: .5em;
}
.friend-requests, .friend-suggestions, .all-friends {
    display: flex;
    align-items: center;
    padding: 1em;
    font-weight: 400;
    gap: .5em;
    margin-left: .25em;
    margin-right: .25em;
    border-radius: .25em;
}

.friend-requests:hover, .friend-suggestions:hover, .all-friends:hover{
    background-color: rgb(240,242,245);
}
.icon-outline, .focus-icon-outline {
    padding: .25em;
    border-radius: 1em;
}
.icon-outline{
    background-color: rgb(228,230,234);
}
/*Show clearly which page it's on by highlighting current selection*/
.focus{ 
    background-color: rgb(240,242,245);
}
.focus-icon-outline {
    background-color: rgb(57,117,234);
}
/**/
a:visited {color:black;}

/*Friend Suggestions*/
.suggested-friends, .pending-friends, .incoming-requests {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
}
.friend-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;
    gap: 1em;
    position: relative;
}
.friends-dropdown {
    display: none;
}
.user-container, .request-container {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    font-size: .8em; 
    box-shadow: 1px 1px 10px black;
}
.user-container-skeleton {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    font-size: .8em; 
    box-shadow: 1px 1px 10px black;
    min-height: 20em;
}
.friend-image {
    max-height: 20em;
    width: 100%;
    border-radius: 1em 1em 0em 0em;
    flex: 2;
}
.information-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    background-color: white;
    border-radius: 0em 0em 1em 1em;
    padding: 1em;
}
.suggestion-name {
    font-size: 1.2em;
}
.cancel-request-button, .remove-request-button {
    font-size: 1.15em;
    border-radius: .2em;
    border: none;
    width: 80%;
    padding: .5em;
    font-weight: 600;
    background-color: rgb(228,230,234);
    color: black;
}
.cancel-request-button:hover, .remove-request-button:hover {
    background-color: rgb(217, 218, 221);

}
.add-friend-button, .confirm-friend-button{
    font-size: 1.15em;
    border-radius: .2em;
    border: none;
    width: 80%;
    padding: .5em;
    font-weight: bold;
    color: white;
}
.add-friend-button, .confirm-friend-button{
    background-color: rgb(57,117,234);
}
.add-friend-button:hover, .confirm-friend-button:hover {
    background-color: rgb(30, 99, 237);

}

.friend-name {
    font-size: 1.3em;
    text-wrap: break-word;
}

/*Remove friend*/
.remove-friend {
    font-size: 1.15em;
    border-radius: .2em;
    border: none;
    width: 80%;
    padding: .5em;
    font-weight: 600;
    color: white;
    background-color: rgb(255, 0, 0);

}
.remove-friend:hover {
    background-color: rgb(189, 13, 13);
}
@media screen and (max-width:640px) {
    .present {
        display: block !important;
    }
    .friends-dropdown{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
    }
    .first-half {
        display: none;
    }
    .suggested-friends, .pending-friends, .incoming-requests {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1em;
    }
    .hide {
        display: none !important;
    }
    .close-icon{
        display: block !important;
    }
}
@media screen and (min-width:640px) and (max-width: 990px) {
    .suggested-friends, .pending-friends, .incoming-requests {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1em;
        
    }

}
@media screen and (max-height:500px) {
    .friend-toggle {
        top: 20vh;
    }
}