/*Header for all logged in pages*/ 
.header {
    display: flex;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 6px 4px rgba(0,0,0,.1);
    z-index: 2;
}
.odin-header {
    flex: 1;
    padding:1em;
    display: flex;
    gap: .5em;
    align-items: center;
}
.odin-book-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57,115,234);
    font-family: Klavika, Arial, sans-serif;
    font-size: 2em;
    padding: .2em;
    color: white;
    border-radius: 1em;
    font-weight: bold;
}
.odin-book-title {
    font-family: Klavika, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
.pages {
    display: flex;
    flex: 2;
    align-items: flex-end;
    gap: 3em;
}
.home, .friends, .profile {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-bottom: .8em;
    position: relative;
}
.border {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(17,108,221);
}
.profile-image {
    position: relative;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}
.profile-drop-down {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: white;
    border-radius: 1em;
    width: clamp(10%,300px,100%);
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: .5em;
    box-shadow: 2px 2px 5px black;
}
.view-profile-image, .logout {
    border-radius: 1em;
    padding: 1em;
    display: flex;
    gap: .5em;
    align-items: center;
}
.view-profile-image:hover, .logout:hover {
    background-color: rgb(240,242,245);
}
/*End of Header */

/**/
Link {
    width: 100%;
}

@media screen and (max-width:640px) {
    .odin-book-title{
        display: none;
    }
    .profile-drop-down{
        padding: 0;
        gap: 0;
        font-size: .8em;
    }
}
