.profile-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 93vh;
    background-color: rgb(240,242,245);
}
.profile-container {
    width: clamp(60%,1200px,100%);
}
.profile-box-shadow{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px rgb(138, 135, 135);
    z-index: 1;
    padding-bottom: 1em;
    background-color: white;
}
.background-image{
    height: 25em;
    animation: changeColor 10s infinite ;
    border-radius: 0 0 1em 1em;

}
/*Start of the profile header section*/

.profile-display-container{
    display: flex;
    justify-content: center;

}

.profile-header {
    border-bottom: 1px solid rgb(204,206,210);
    width: 90%;
    display: flex;
}
.image-profile {
    position: relative;
    width: 10em;
}
.medium-size{
    position: absolute;
    height: 10em;
    width: 100%;
    transform: translateY(-50%);
    border-radius: 100%;
}
.profile-page-name {
    display: flex;
    flex-direction: column;
    padding: 1.3em;
    gap: .5em;
    flex: 4;
    
}
.user-name {
    font-size: 1.8em;
    font-weight: bold;
}
.num-friends {
    font-weight: 600;
}
.profile-edit {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.edit-profile {
    background-color: rgb(228,230,234);
    border: none;
    font-size: 1em;
    font-weight: 700;
    padding: .5em;
    border-radius: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;
}

.edit-profile:hover, .edit-details:hover, .add-bio:hover,.edit-bio:hover, .bio-save:hover, .bio-cancel:hover {
    background-color: rgb(205, 206, 207);
}
.studies-at {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

/*Start of the bottom section*/
.info-bottom {
    background-color: rgb(240,242,245);
    display: flex;
    justify-content: center;
    padding: 1.3em;
    width: 100%;
    position: relative;
}
.info-container{
    width: clamp(60%,1200px,100%);
    gap: 2em;
    display: flex;
    justify-content: center;
}
.info-post {
    display: flex;
    width: 90%;
    gap: 2em;
}
.info-section, .post-section {
    position: sticky;
    top: 12vh;
    height: fit-content;
    border-radius: 1em;
}

.info-section {
    padding: 1em;
    flex: 1;
    gap: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.university, .lives {
    display: flex;
    gap: 1em;
    align-items: center;
}
.edit-details, .add-bio, .edit-bio{
    background-color: rgb(228,230,234);
    border: none;
    font-size: 1em;
    font-weight: 700;
    padding: .5em;
    border-radius: .2em;
    gap: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bio-input {
    background-color: rgb(240,242,245);
    resize: none;
    text-align: center;
    padding: .5em;
    border-radius: 1em;
}
.bio-input:focus {
    background-color: white;

}
.write-bio {
    display: flex;
    flex-direction: column;
    gap:.25em;
}
.bio-save-cancel {
    display: flex;
    justify-content: flex-end;
    gap: .4em;
}
.remaining-characters {
    display: flex;
    justify-content: flex-end;
    font-size: .9em;
    color: rgb(114,115,119);
}
.bio-save, .bio-cancel {
    background-color: rgb(228,230,234);
    border: none;
    font-size: .9em;
    font-weight: 525;
    padding: .75em;
    border-radius: .2em;
}

/*Profile Post start*/
.post-section {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
@keyframes changeColor {
    0% {
        background-color: rgb(125, 125, 125);
    }
    25% {
        background-color: rgb(63, 63, 63);
    }
    50% {
        background-color: rgb(0, 0, 0);
    }
    75% {
        background-color: rgb(63, 63, 63);
    }
    100% {
        background-color: rgb(125, 125, 125);
    }
}


@media screen and (max-width:640px) {
    .info-post {
        flex-direction: column;
    }
    .info-section {
        position: static;
    }
    .edit-profile {
        display: none;
    }
    .info-bottom {
        padding: 1em;
    }
}
@media screen and (max-height:500px) {
    .info-section, .post-section  {
        top: 20vh;
    }
}